<!--<section id="site-container" class="iso-section" ng-controller="isotopeData" ng-init="init()" resize>
	
	<div id="mainnav">
		<div id="logo" class="logo" alt="OgilvyOne dnx Digital Team"></div>
		<div id="icons" class="filter-controls" opt-kind ok-key="filter">
			<button type="button" ng-click="isoTab('')" class="button btn-iso btn-show active" ok-sel="*"><div id="atomic" class="icon"></div>All</button>
			<button type="button" ng-click="isoTab('experiences')" class="button btn-iso btn-experiences" ok-sel=".experiences"><div id="lamp" class="icon" ok-sel=".experiences"></div>Experiences</button>
			<button type="button" ng-click="isoTab('stories')" class="button btn-iso btn-stories" ok-sel=".stories"><div id="micro" class="icon" ok-sel=".stories"></div>Stories</button>
			<button type="button" ng-click="isoTab('tools')" class="button btn-iso btn-tools" ok-sel=".tools"><div id="mix" class="icon" ok-sel=".tools"></div>Tools</button>
			<button type="button" ng-click="isoTab('labs')" class="button btn-iso btn-labs" ok-sel=".labs"><div id="lab" class="icon" ok-sel=".labs"></div>Labs</button>
			<button type="button" ng-click="isoTab('braindump')" class="button btn-iso btn-braindump" ok-sel=".braindump,.featured-braindump"><div id="brain" class="icon" ok-sel=".braindump"></div>Brain Dump</button>
		</div>
	</div>
	
	<div id="container">
		<div id="one-column" class="isotope">
			<ul id="isotopeContainer" isotope-container="" ng-cloak="" iso-options="">
				<li ng-repeat="iso in isodata" isotope-item="" ng-style="style()" class="story {{ iso.style }} {{ iso.category }} isotope-item"> -->
					<!-- Regular Template -->
<!--
					<a href="#/{{iso.beauUrl}}" class="iso-regular iso-item-box loaded" ng-click="navButtonClicked(iso.id)" data-url-id="{{iso.id}}" ng-if="iso.style == 'regular'" regular-template story-hover>
						<img ng-src="{{ iso.image }}" class="bgimg">
						<div class="info">
							<h3>{{ iso.title }}</h3>
						</div>
					</a>
-->
					
					<!-- Featured Template -->
<!--
					<a href="#/{{iso.beauUrl}}" class="iso-featured iso-item-box loaded" ng-click="navButtonClicked(iso.id)"  data-url-id="{{iso.id}}" ng-if="iso.style == 'featured'" featured-template story-hover>
						<img ng-src="{{ iso.image }}" class="bgimg">
						<div class="info">
							<h3>{{ iso.title }}</h3>
							<hr>
							<p class="subtitle">{{ iso.subtitle }}</p>
						</div>
					</a>
-->
					
					<!-- Braindump Template -->
<!--
					<a href="#/{{iso.beauUrl}}" class="iso-braindump iso-item-box loaded" ng-click="navButtonClicked(iso.id)"  data-url-id="{{iso.id}}" ng-if="iso.style == 'braindump'" braindump-template story-hover>
						<h3>{{ iso.title }}</h3>
						<p class="author">{{iso.author_firstname}} {{iso.author_lastname}}</p>
						<hr>
						<p class="subtitle">{{iso.subtitle}}</p>
					</a>
-->
					
					<!-- Featured Braindump Template -->
<!--
					<a href="#/{{iso.beauUrl}}" class="iso-featured-braindump iso-item-box loaded" ng-click="navButtonClicked(iso.id)"  data-url-id="{{iso.id}}" ng-if="iso.style == 'featured-braindump'" featured-braindump-template story-hover>
						<h3>{{ iso.title }}</h3>
						<p class="author">{{iso.author_firstname}} {{iso.author_lastname}}</p>
						<hr>
						<p class="subtitle">{{iso.subtitle}}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
</section>

<script src="scripts/vendor/jquery.lazylinepainter-1.5.1.js"></script>
<script src="scripts/animations.js"></script>-->
